.list-social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;

}

@media only screen and (max-width: 749px) {
  .list-social {
    column-gap: 2.5rem;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
