/** Shopify CDN: Minification failed

Line 34:8 Unexpected "{"
Line 35:15 Expected ":"
Line 53:12 Unexpected "{"
Line 54:19 Expected ":"
Line 181:12 Unexpected "{"
Line 182:19 Expected ":"

**/
.reels-video {
    display: grid;
}

.reels-video .deferred-media__poster img {
    width: 100%
}

.reels-video .product-media-container .media {
    /* padding-top:  min(var(--constrained-height), var(--ratio-percent)); */

}

.reels-video-item .product__title>a,
.reels-video .product__title>a {
    display: block;
}

.reels-video .product-info__product-picker a.color-swatch:not(.is-selected) {
    display: none
}

.section- {
        {
        section.id
    }
}

-padding {
    padding: 0 0 2rem
}

reels-video-sliders {
    --swiper-navigation-size: 1.7rem
}

@media (min-width: 768px) {
    .product__info-container {
        max-width: 100%;
    }

    .section- {
            {
            section.id
        }
    }

    -padding {
        padding: 0
    }

    .reels-video {
        grid-template-columns: calc(40.4 / 81.4 * 100%) calc(36 / 81.4 * 100%);
        max-width: 81.7rem;
        margin: auto;
        grid-gap: clamp(2rem, 4vw, 5rem);
    }

    .reels-video .video-product .product__media {
        margin-bottom: 1.6rem;
    }

    reels-video-sliders .swiper {
        max-width: 87.7rem;
        margin: auto;
        position: relative;
    }

}

.product-quick-view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.product-quick-view.show {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.reels-video-list {
    --grid-desktop-vertical-spacing: 0;
    --grid-desktop-horizontal-spacing: 1px;
    --grid-mobile-vertical-spacing: 1px;
    --grid-mobile-horizontal-spacing: 1px;
    max-width: 154rem;
    margin: auto;
}

.reels-video-item {
    padding: 2rem 1rem;
}

.reels-video-item__product {
    display: grid;
    grid-template-columns: 8rem 1fr;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.8rem
}

.reels-video-item__product .price--on-sale .price-item--regular {
    font-size: var(--title-3)
}

.reels-video-item__product .price {
    margin-top: 0.4rem
}

.reels-video-item__product .price .price-item {
    margin: 0
}

.deferred-media__poster-button {
    height: clamp(4.4rem, 3vw, 4.8rem);
    width: clamp(4.4rem, 3vw, 4.8rem);
    --color-foreground: 255, 255, 255;
    --color-background: 0, 0, 0;
}

@media(max-width : 1440px) {
    .reels-video-list {
        max-width: 115.6rem;
    }

    .reels-video-item {
        padding: 2rem 1rem;
        --title-3: var(--text-3);
    }
}

@media(max-width:767px) {
    .reels-video-list {
        padding-top: 1rem
    }

    .reels-video-item {
        padding: 0.65rem 0.65rem;
    }

    .reels-video-item__product {
        display: grid;
        grid-template-columns: 3.4rem 1fr;
        padding: 0.5rem;
        align-items: center;
    }

    reels-video-sliders {
        --swiper-navigation-sides-offset: 2rem
    }

    reels-video-sliders .swiper-button-next path,
    reels-video-sliders .swiper-button-prev path {
        stroke: #fff !important
    }

    .reels-video .product-media-container .media {
        padding-top: calc(544 / 375 * 100%) !important
    }

    .section- {
            {
            section.id
        }
    }

    -padding>.page-width {
        padding: 0 0
    }

    .video-product {
        display: grid;
        grid-template-columns: 8rem 1fr 1rem;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
        --h2: var(--text-1)
    }

    .video-product .product__title {
        margin: 0;
    }

    .video-product .product-info__product-picker,
    .video-product variant-radios {
        display: none;
    }

    .video-product .icon-arrow {
        width: 0.6rem;
    }
}